.SettingsSlider{
  display:flex;
  flex-direction: row;
  gap:0.5em;

  align-items: center;
  justify-content: start;


  background:var(--menu-border-color);

  padding-left:0.5em;
  padding-right:0.25em;

  padding-top:0.25em;
  padding-bottom:0.25em;

  border-radius: 0.2em;

  margin:0;

}

.SettingsSliderCaption{
  height:100%;

  text-align: right;
  margin-left:auto;
}

.SettingsSliderRange{
  appearance: none;

  /*height is 1 em, but the background is a linear gradient that is only ~0.25em thick. This is so that the slider is easier to click on.*/
  height:1.5em;

  background:linear-gradient(0deg, transparent 0%, transparent 42%, var(--menu-emphasis-color) 42%, var(--menu-emphasis-color) 58%,transparent 58%,transparent 100%);
  
  cursor: pointer;
}

.SettingsSliderRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  background:var(--menu-text-color);
  width:1em;
  height:1em;
  border-radius:100%;
}

.SettingsSliderRange::-moz-range-thumb{
  border:none;
  background:var(--menu-text-color);
  width:1em;
  height:1em;
}


.SettingsSliderTextWrapper{
  background-color:var(--menu-emphasis-color);
  white-space: nowrap;
  border-radius: 0.2em;

  transition: all 0.5s ease-in-out;
  padding-right:0.25em;
  
  position:relative;
}

.SettingsSliderTextWrapper:focus-within{
  background-color:var(--menu-border-color);
}

.SettingsSliderText{
  font-size:1.25em;
  width:2.5em;

  background:transparent;
  border:none;

  color: inherit;


  text-align: right;

  padding-right:0.4em;

}

.SettingsSliderText::placeholder{
  opacity: 0.75;
}


.SettingsSliderText:focus{
  border:none;
  outline:none;
}

.SettingsSliderTextUnit{
  opacity: 0.75;
  user-select: none;
  pointer-events: none;

  position:absolute;
  right:0;
  bottom:0.05em;

  margin-right:0.25em;
}