.SettingsButton{
  appearance: none;
  
  border:none;
  margin:0;
  color:inherit;
  font:inherit;

  text-align: center;

  background:var(--menu-border-color);

  padding-left:0.5em;
  padding-right:0.25em;

  padding-top:0.25em;
  padding-bottom:0.25em;

  border-radius: 0.25em;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.SettingsButton:hover{
  background:var(--menu-accent-color);
}

.SettingsButton:active{
  background:var(--menu-accent-color-dark);
}